.logoSection {
    border: 1px solid black;
    padding: 15px;
    width: max-content;
}

.small {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width:30px;
        height: 30px;
    }
}

.large {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width:60px;
        height: 60px;
    }
}
.medium {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width:45px;
        height: 45px;
    }
}

.square {
    border-radius: 0px;
}

.circle {
    border-radius: 50%;
}

.normal {
    border-radius: 25%;
}