// .card {
//     padding: 20px;
// }
.card {
    padding: 20px;
    border: 1px solid white;
    img {
        width: 100%;
    }
}
.medium {
    width: 200px;
    height: 400px;
}

.large {
    width: 300px;
    height:600px;   
}

.small {
    width: 250px;
    height: 500px;
}

.dark {
    background-color: black;
    border: 1px solid white;
}
.light {
    background-color: white;
    border: 1px solid black;
}
.normal {
    border-radius: 25%;
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 0;
}